<script lang="ts">
  import { Vue, Component, Watch } from 'vue-property-decorator'

  import LDefault from '@/layouts/default/Default.vue'

  const config = {
    name: 'c-app',
    components: {
      LDefault
    }
  }

  @Component(config)
  export default class CApp extends Vue {

    // Compute the layout configured with route meta
    // ("default-layout" by default)
    get definedLayout () {
      return this.$route.meta.layout || LDefault
    }

  }
</script>

<template>
  <div id="app" class="c-App">
    <!-- Main -->
    <component :is="definedLayout">
        <router-view :key="$route.path" />
    </component>

    <!-- Zone for modals -->
    <div class="c-App__Outlets">
      <portal-target name="app-outlet-modals" slim />
    </div>

  </div>
</template>

<style lang="scss">
  @import "~@/assets/styles/bases/reset";
  @import "~@/assets/styles/bases/presets";

  .c-App {
    height: 100%;
  }
</style>
