<template functional>
  <component :is="props.tag"
             :class="[ data.staticClass, ...data.class ]"
             :style="[ data.staticStyle, ...data.style ]">
    <slot />
  </component>
</template>
