
*, *:before, *:after {
    box-sizing: border-box
}

*:focus {
  outline: none;
}

::selection,
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus,
input::-webkit-time:focus {
  background: #000;
  color: white
}


html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-kerning: auto;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.65;
    font-weight: 400;
    background-color: white;
    color: #393939;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

img {
    vertical-align: bottom;
}
