<script lang="ts">
  import { Vue, Component, Watch } from 'vue-property-decorator'
  import { Action, Getter } from 'vuex-class'
  import { Route } from 'vue-router'

  const config = {
    name: 'l-cerberus'
  }

  @Component(config)
  export default class LCerberus extends Vue {
    routerTransitionDirection = 'is-AnimatingToNext'

    @Watch ('$route')
    onRouteChange (to: Route, from: Route) {
      this.defineRouterTransitionDirection(to, from)
    }

    defineRouterTransitionDirection (to: Route, from: Route) {
      const toOrder = to.meta.order
      const fromOrder = from.meta.order
      if (to.name === from.name) {
        this.routerTransitionDirection = 'is-AnimatingToPrev'
      } else {
        this.routerTransitionDirection = fromOrder < toOrder ?
          'is-AnimatingToPrev' :
          'is-AnimatingToNext'
      }
    }

  }
</script>

<template>
  <div class="l-Cerberus">
    <transition :name="routerTransitionDirection">
        <keep-alive include="v-home,v-single-item">
            <slot />
        </keep-alive>
    </transition>
  </div>
</template>

<style lang="scss">
  .l-Cerberus {
    display: flex;
    flex-direction: row;
    width: 200%;
    flex: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

      > *,
      > [class^="v-"],
      > [class*="v-"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;

        &.is-AnimatingToNext-enter-active,
        &.is-AnimatingToNext-leave-active,
        &.is-AnimatingToPrev-enter-active,
        &.is-AnimatingToPrev-leave-active  {
          transition: transform 480ms ease;
        }

        &.is-AnimatingToNext-leave-active,
        &.is-AnimatingToPrev-enter,
        &.is-AnimatingToNext-leave-active,
        &.is-AnimatingToNext-leave-active {
          transform: translate3d(100%,0,0);
          transition: transform 320ms ease;
        }

        &.is-AnimatingToNext-enter,
        &.is-AnimatingToPrev-leave-active,
        &.is-AnimatingToNext-enter,
        &.is-AnimatingToPrev-leave-active,
        &.is-AnimatingToNext-enter,
        &.is-AnimatingToPrev-leave-active{
          transition: transform 320ms ease;
          transform:translate3d(-100%,0,0);
        }
      }


  }

</style>
