<script lang="ts">
  import { Vue, Component, Prop, Watch } from 'vue-property-decorator'

  const config = {
    name: 'c-textarea'
  }

  @Component(config)
  export default class CTextarea extends Vue {

    @Prop({ type: String, default: 'text' }) type!: string
    @Prop({ type: String, default: '' }) placeholder!: string
    @Prop({ type: Boolean, default: false }) autofocus!: boolean
    @Prop({ type: Boolean, default: false }) transparent!: boolean
    @Prop({ type: Boolean, default: false }) light!: boolean
    @Prop({ type: Boolean, default: false }) dark!: boolean
    @Prop({ type: String }) rows!: string
    @Prop({ type: Boolean }) required!: boolean
    @Prop({ type: Boolean }) disabled!: boolean
    @Prop({ type: String }) name!: string
    @Prop() value!: any
    @Prop() nativeValue!: any

    newValue: any = this.value

    get computedValue () {
      return this.newValue
    }

    set computedValue (val: any) {
      this.newValue = val
      this.$emit('input', val)
    }

    @Watch('value')
    onValueChange (val: any) {
      this.newValue = val
    }

    get CSSClasses () {
      return {
        '--Light': this.light,
        '--Dark': this.dark,
        '--Transparent': this.transparent
      }
    }
  }
</script>

<template>
  <label class="c-Textarea" :class="CSSClasses">
    <span class="c-Textarea__Label">
      <slot/>
    </span>
    <textarea :name="name"
              :rows="rows"
              v-model="computedValue"
              :disabled="disabled"
              :required="required"
              :placeholder="placeholder"
              :autofocus="autofocus"
              class="c-Textarea__Input" />
  </label>
</template>

<style lang="scss">

  .c-Textarea {

    &.--Light {
      .c-Textarea__Input {
        border-color: rgba(white, 0.25);
        color: white;
      }
    }

    &.--Transparent {
      .c-Textarea__Input {
        background: transparent;
      }
    }
  }

  .c-Textarea {
    display: flex;
    flex-direction: column;

    .c-Textarea__Input {
      padding: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      appearance: none;
      border: 0;
      width: 100%;
      font-family: inherit;
      font-size: 14px;
      background-color: transparent;
      border-radius: 8px;
      font-weight: bold;
      border: 1px solid #E5E5E5;

      &::placeholder {
        font-weight: normal;
        color: inherit;
        opacity: 0.75;
      }

    }

    .c-Textarea__Label {
      margin: 0 24px 4px 24px;
      font-size: 14px;
    }

    &.--Small {
      .c-Textarea__Input {
        height: 36px;
        padding: 8px;
      }
    }

  }
</style>
