<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator'

  const config = {
    name: 'c-item-card-summary'
  }

  @Component(config)
  export default class CItemCardSummary extends Vue {}
</script>

<template>
  <div class="c-ItemCard__Summary">
    <slot />
  </div>
</template>

