<script lang="ts">
  import { Component, Vue, Prop } from 'vue-property-decorator'

  const config = {
    name: 'c-item-card'
  }

  @Component(config)
  export default class CItemCard extends Vue {

      @Prop({ type: String }) type!: string
      @Prop({ type: String }) icon!: string
      @Prop({ type: Boolean }) shadow!: boolean

      get CSSClasses () {
          return {
            '--Shadow': this.shadow,
            '--Gradient1': this.type === 'gradient-1',
            '--Gradient2': this.type === 'gradient-2',
            '--Gradient3': this.type === 'gradient-3',
          }
      }
  }
</script>

<template>
  <div class="c-ItemCard" :class="CSSClasses">
    <div class="c-ItemCard__Wrapper">
        <slot />
    </div>
  </div>
</template>

<style lang="scss">
    .c-ItemCard {
        position: relative;
        background: lightgray;
        border-radius: 24px;
        overflow: hidden;

        &:before {
            padding-top: 54.1666666667%;
            content: "";
            display: block;
        }

        &.--Shadow {
            box-shadow: 0 0 12px rgba(black, 0.25);
        }

        &.--Gradient1 {
            background: #4E54C8;
            background: linear-gradient(135deg, #4E54C8, #8F94FB);
            color: white;
        }

        &.--Gradient2 {
            background: #BC4E9C;
            background: linear-gradient(135deg, #BC4E9C, #F80759);
            color: white;
        }

        &.--Gradient3 {
            background: #11998E;
            background: linear-gradient(135deg, #11998E, #38EF7D);
            color: white;
        }

        .c-ItemCard__Wrapper {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 18px 24px;
        }

        .c-ItemCard__IconBackground {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 18px 24px;

            svg {
              fill: rgba(white, 0.15);
              width: 136px;
              height: 136px;
            }
        }

        .c-ItemCard__Caption {
            margin-top: auto;
        }

        .c-ItemCard__Title {
            font-size: 18px;
            line-height: 1.45;
            font-weight: bold;
        }

        .c-ItemCard__Summary {
            font-size: 10px;
            font-weight: bold;
        }

        .c-ItemCard__Label {
            font-size: 10px;
            font-weight: bold;
            line-height: 1;
        }

    }
</style>
