<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'
  import CustomWrapper from '@/components/CustomWrapper.vue'

  @Component({
    name: 'c-section',
    components: { CustomWrapper }
  })
  export default class CSection extends Vue {
    @Prop({ default: 'section'}) tag!: string
  }
</script>

<template>
  <custom-wrapper class="c-Section" :tag="tag">
    <slot />
  </custom-wrapper>
</template>

<style lang="scss">
  .c-Section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 24px;

    .c-Section__Title {
      flex: 1;
      padding: 16px 24px;
      font-size: 21px;
      font-weight: bold;
      line-height: 26px;
      color: #1C1C1C;
    }

    .c-Section__TitleAdditional {
      align-self: center;
      margin: 0 24px;
      font-size: 12px;
      color: #767676;

      a {
        text-decoration: none;
        color: red;
      }
    }

    .c-Section__Title + .c-Section__TitleAdditional {
      margin: 0 24px 0 0;
    }

    .c-Section__TitleAdditional + .c-Section__Title {
      margin: 0 0 0 24px;
    }

    .c-Section__Content {
      width: 100%;
    }

  }
</style>
