<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator'

  const config = {
    name: 'c-resa-card-caption'
  }

  @Component(config)
  export default class CresaCardCaption extends Vue {}
</script>

<template>
  <div class="c-ResaCard__Caption">
    <slot />
  </div>
</template>

