<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator'

  const config = {
    name: 'c-resa-card-summary'
  }

  @Component(config)
  export default class CresaCardSummary extends Vue {}
</script>

<template>
  <div class="c-ResaCard__Summary">
    <slot />
  </div>
</template>

