<script lang="ts">
  import { Component, Vue, Prop } from 'vue-property-decorator'

  const config = {
    name: 'c-resa-card'
  }

  @Component(config)
  export default class CResaCard extends Vue {

      @Prop({ type: String }) type!: string
      @Prop({ type: String }) icon!: string
      @Prop({ type: Boolean }) shadow!: boolean
      @Prop({ type: Boolean, default: false }) warning!: boolean

      get CSSClasses () {
          return {
            '--Shadow': this.shadow,
            '--Gradient1': this.type === 'gradient-1',
            '--Gradient2': this.type === 'gradient-2',
            '--Gradient3': this.type === 'gradient-3',
          }
      }
  }
</script>

<template>
  <div class="c-ResaCard" :class="CSSClasses">
    <div class="c-ResaCard__Warning" v-show="warning">!</div>
    <div class="c-ResaCard__Wrapper">
        <slot />
    </div>
  </div>
</template>

<style lang="scss">
    .c-ResaCard {
        position: relative;
        background: lightgray;
        border-radius: 24px;

        &:before {
            padding-top: 54.1666666667%;
            content: "";
            display: block;
        }

        &.--Shadow {
            box-shadow: 0 0 12px rgba(black, 0.25);
        }

        &.--Gradient1 {
            background: #4E54C8;
            background: linear-gradient(135deg, #4E54C8, #8F94FB);
            color: white;
        }

        &.--Gradient2 {
            background: #BC4E9C;
            background: linear-gradient(135deg, #BC4E9C, #F80759);
            color: white;
        }

        &.--Gradient3 {
            background: #11998E;
            background: linear-gradient(135deg, #11998E, #38EF7D);
            color: white;
        }

        .c-ResaCard__Warning {
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background: #E54545;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            font-size: 14px;
            transform: translateX(25%) translateY(-25%);
        }

        .c-ResaCard__Wrapper {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 18px 24px;
        }

        .ItemCard__IconBg {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 18px 24px;
            opacity: 0.15;
        }

        .c-ResaCard__Caption {
            margin-bottom: auto;
        }

        .c-ResaCard__Title {
            font-size: 16px;
            line-height: 1.25;
            font-weight: bold;
        }

        .c-ResaCard__Summary {
            font-size: 10px;
            font-weight: bold;
        }

        .c-ResaCard__Label {
            font-size: 10px;
            font-weight: bold;
            line-height: 1;
        }
    }
</style>
