<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'

  const config = {
    name: 'c-button'
  }

  @Component(config)
  export default class CButton extends Vue {

    @Prop({ type: Boolean, default: false }) primary!: boolean
    @Prop({ type: Boolean, default: false }) textAlignLeft!: boolean
    @Prop({ type: Boolean, default: false }) textAlignRight!: boolean
    @Prop({ type: Boolean, default: false }) active!: boolean

    get CSSClasses () {
      return {
        'is-Active': this.active,
        '--Primary': this.primary,
        '--TextAlignLeft': this.textAlignLeft,
        '--TextAlignRight': this.textAlignRight,
      }
    }
  }
</script>

<template>
  <button class="c-Button" :class="CSSClasses" @click="$emit('click')" >
    <slot />
  </button>
</template>

<style lang="scss">
  .c-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #767676;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    padding: 4px 8px;
    background: transparent;
    transition: background 250ms ease;
    font: inherit;

    &:focus {
      border-color: #ccc;
      background: rgba(black, 0.015);
      outline:0;
    }

    &.is-Active {
      border-color: #1C1C1C;
      background: #1C1C1C;
      color: white;
      font-weight: bold;
    }

    &.--TextAlignLeft {
      text-align: left;
      justify-content: flex-start;
    }

    &.--TextAlignRight {
      text-align: right;
      justify-content: flex-end;
    }

    &.--Primary {
      background-color: var(--primaryColor);
      color: white;
    }

    .c-Button__Icon {
      padding-right: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    &:disabled {
      opacity: 0.75;
    }


  }
</style>
