<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import * as axios from 'axios'
import moment from 'moment';

import CItemCard from '@/components/item-card/ItemCard.vue'
import CItemCardCaption from '@/components/item-card/ItemCardCaption.vue'
import CItemCardTitle from '@/components/item-card/ItemCardTitle.vue'
import CItemCardSummary from '@/components/item-card/ItemCardSummary.vue'
import CItemCardLabel from '@/components/item-card/ItemCardLabel.vue'
import CItemCardIconBackground from '@/components/item-card/ItemCardIconBackground.vue'
import CResaCard from '@/components/resa-card/ResaCard.vue'
import CResaCardCaption from '@/components/resa-card/ResaCardCaption.vue'
import CResaCardTitle from '@/components/resa-card/ResaCardTitle.vue'
import CResaCardSummary from '@/components/resa-card/ResaCardSummary.vue'
import CResaCardLabel from '@/components/resa-card/ResaCardLabel.vue'

import CSection from '@/components/section/Section.vue'
import CSectionContent from '@/components/section/SectionContent.vue'
import CSectionTitle from '@/components/section/SectionTitle.vue'
import CSectionTitleAdditional from '@/components/section/SectionTitleAdditional.vue'

import CDropdown from '@/components/dropdown/Dropdown.vue'
import CDropdownItem from '@/components/dropdown/DropdownItem.vue'

import CCarousel from '@/components/carousel/Carousel.vue'
import CCarouselItem from '@/components/carousel/CarouselItem.vue'

import CButton from '@/components/form-controls/button/Button.vue'
import CButtonIcon from '@/components/form-controls/button/ButtonIcon.vue'
import CButtonLabel from '@/components/form-controls/button/ButtonLabel.vue'

const config = {
  name: 'v-home',
  components: {
    CItemCard,
    CItemCardCaption,
    CItemCardTitle,
    CItemCardSummary,
    CItemCardLabel,
    CItemCardIconBackground,

    CResaCard,
    CResaCardCaption,
    CResaCardTitle,
    CResaCardSummary,
    CResaCardLabel,

    CSection,
    CSectionContent,
    CSectionTitle,
    CSectionTitleAdditional,

    CCarousel,
    CCarouselItem,

    CDropdown,
    CDropdownItem,

    CButton,
    CButtonIcon,
    CButtonLabel
  }
}

@Component(config)
export default class VHome extends Vue {
  catalogFilter: string = 'all'
  resaFilter: string = 'all'
  userBooks: object = []
  todayDate: string = moment().format('DD/MM/YYYY')
  supplies = Array()
  supplyFilter = Array()
  typefilter = Array()
  async activated () {
    const url = 'http://localhost:3000/'
    this.userBooks = await axios.default.get(url + 'userbook/5cd18e0ca126275709beff38').then((response) => {
      return response.data
    })
    this.supplies = await axios.default.get(url + 'supply').then((response) => {
      this.supplyFilter = response.data
      return response.data
    })
    this.typefilter = await axios.default.get(url + 'supplytype').then((response) => {
      return response.data
    }) 
  }

  get catalogActiveBtnState () {      
    return this.catalogFilter !== 'all'
  }

  get catalogActiveBtnStateLabel () {
    const activeFilter = this.typefilter.filter( (e) => e._id === this.catalogFilter)
    let label = 'Filtrer…'
    this.supplyFilter = this.supplies
    if (activeFilter.length > 0) {
      label = activeFilter[0].name
      this.supplyFilter = this.supplies.filter( (e) => e.SupplyType._id === this.catalogFilter)
    } 
    return label
  }

  get resaActiveBtnState () {
    return this.resaFilter !== 'all'
  }

  get resaActiveBtnStateLabel () {
    switch (this.resaFilter) {
      case 'all':
        return 'Tout voir'
      case 'today':
        return 'Aujourd\'hui'
      case 'week':
        return 'Semaine'
    }
  }

  resaWarning (date: string) {
    let warning = false
    if (date === this.todayDate)
      warning = true
    return warning
  }

  formatDate (value: number, format: string) {
    return moment(value, 'X').format(format)
  }
}
</script>

<template>
  <div class="v-Home">
    <c-section>
      <c-section-title>Mes réservations</c-section-title>
      <c-section-title-additional>
        <c-dropdown v-model="resaFilter">
          <c-button :active="resaActiveBtnState" slot="trigger">
            <c-button-icon v-show="resaActiveBtnState">x</c-button-icon>
            <c-button-label>{{resaActiveBtnStateLabel }}</c-button-label>
            </c-button>
          <c-dropdown-item :value="'all'" :active="resaFilter === 'all'">Toutes</c-dropdown-item>
          <c-dropdown-item :value="'today'" :active="resaFilter === 'today'">Aujourd'hui</c-dropdown-item>
          <c-dropdown-item :value="'week'" :active="resaFilter === 'week'">Semaine</c-dropdown-item>
        </c-dropdown>
      </c-section-title-additional>
      <c-section-content>
        <c-carousel>
          <c-carousel-item v-for="book in userBooks" :key="book.id" class="v-Home__ReservationItem">
            <c-resa-card v-if="book.Supply.SupplyType._id == '5cd1970a4994495df12f2eaa'" type="gradient-1" icon="video-projector" shadow :warning="resaWarning(formatDate(book.start, 'DD/MM/YYYY'))">
              <c-resa-card-caption>
                <c-resa-card-title>{{book.Supply.SupplyType.name}}</c-resa-card-title>
                <c-resa-card-summary>{{book.Supply.label}}</c-resa-card-summary>
              </c-resa-card-caption>
              <c-resa-card-label>{{formatDate(book.start, "DD/MM/YYYY HH:mm")}}</c-resa-card-label>
            </c-resa-card>
            <c-resa-card v-if="book.Supply.SupplyType._id == '5cd3edb0e09b81a54891815f'" type="gradient-2" icon="video-projector" shadow :warning="resaWarning(formatDate(book.start, 'DD/MM/YYYY'))">
              <c-resa-card-caption>
                <c-resa-card-title>{{book.Supply.SupplyType.name}}</c-resa-card-title>
                <c-resa-card-summary>{{book.Supply.label}}</c-resa-card-summary>
              </c-resa-card-caption>
              <c-resa-card-label>{{formatDate(book.start,"DD/MM/YYYY HH:mm")}}</c-resa-card-label>
            </c-resa-card>
            <c-resa-card v-if="book.Supply.SupplyType._id == '5cd3ed80e09b81a54891815e'" type="gradient-3" icon="video-projector" shadow :warning="resaWarning(formatDate(book.start, 'DD/MM/YYYY'))">
              <c-resa-card-caption>
                <c-resa-card-title>{{book.Supply.SupplyType.name}}</c-resa-card-title>
                <c-resa-card-summary>{{book.Supply.label}}</c-resa-card-summary>
              </c-resa-card-caption>
              <c-resa-card-label>{{formatDate(book.start, "DD/MM/YYYY HH:mm")}}</c-resa-card-label>
            </c-resa-card>
          </c-carousel-item>
        </c-carousel>
      </c-section-content>
    </c-section>
    <c-section>
      <c-section-title>Catalogue</c-section-title>
      <c-section-title-additional>
        <c-dropdown v-model="catalogFilter">
          <c-button :active="catalogActiveBtnState" slot="trigger">
            <c-button-icon v-show="catalogActiveBtnState">
              <svg class="icon" style="width: 12px; height: 12px; fill: white;">
                <use xlink:href="/img/icons/icons-sprite.svg#ribbon" />
              </svg>
            </c-button-icon>
            <c-button-label>{{ catalogActiveBtnStateLabel }}</c-button-label>
            </c-button>
          <c-dropdown-item :value="'all'" :active="catalogFilter === 'all'">Tous</c-dropdown-item>
          <c-dropdown-item v-for="type in typefilter" :key="type.id" :value="type._id" :active="catalogFilter === type._id">{{type.name}}</c-dropdown-item>
        </c-dropdown>
      </c-section-title-additional>
      <c-section-content>
        <router-link v-for="supply in supplyFilter" :key="supply.id" :to="{ name: 'single-item', params: { uuid: supply._id }}" class="v-Home__CatalogueItem">
          <c-item-card v-if="supply.SupplyType._id == '5cd1970a4994495df12f2eaa'" type="gradient-1" icon="video-projector" shadow>
            <c-item-card-icon-background>
              <svg>
                <use v-if="supply.SupplyType._id == '5cd1970a4994495df12f2eaa' " xlink:href="/img/icons/icons-sprite.svg#projector" />
              </svg>
            </c-item-card-icon-background>
            <c-item-card-label>{{supply.SupplyType.name}}</c-item-card-label>
            <c-item-card-caption>
              <c-item-card-title>{{supply.SupplyType.name}}</c-item-card-title>
              <c-item-card-summary>{{supply.label}}</c-item-card-summary>
            </c-item-card-caption>
          </c-item-card>
          <c-item-card v-if="supply.SupplyType._id == '5cd3edb0e09b81a54891815f' " type="gradient-2" icon="video-projector" shadow>
            <c-item-card-icon-background>
              <svg>
                <use v-if="supply.SupplyType._id == '5cd3edb0e09b81a54891815f' " xlink:href="/img/icons/icons-sprite.svg#router" />
              </svg>
            </c-item-card-icon-background>
            <c-item-card-label>{{supply.SupplyType.name}}</c-item-card-label>
            <c-item-card-caption>
              <c-item-card-title>{{supply.SupplyType.name}}</c-item-card-title>
              <c-item-card-summary>{{supply.label}}</c-item-card-summary>
            </c-item-card-caption>
          </c-item-card>
          <c-item-card v-if="supply.SupplyType._id == '5cd3ed80e09b81a54891815e' " type="gradient-3" icon="video-projector" shadow>
            <c-item-card-icon-background>
              <svg>
                <use v-if="supply.SupplyType._id == '5cd3ed80e09b81a54891815e' " xlink:href="/img/icons/icons-sprite.svg#camera" />
              </svg>
            </c-item-card-icon-background>
            <c-item-card-label>{{supply.SupplyType.name}}</c-item-card-label>
            <c-item-card-caption>
              <c-item-card-title>{{supply.SupplyType.name}}</c-item-card-title>
              <c-item-card-summary>{{supply.label}}</c-item-card-summary>
            </c-item-card-caption>
          </c-item-card>
        </router-link>
      </c-section-content>
    </c-section>
  </div>
</template>

<style lang="scss">
  .v-Home {
    padding: 24px 0;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: white;

    .v-Home__ReservationItem {
      font-size: 12px;
       margin: 12px 12px 0 12px;
       width: 54.1666666667vw;

       &:first-child {
        margin: 12px  12px 0 24px;
       }

       &:last-child {
        margin: 12px  24px 0 12px;
       }
    }

    .v-Home__CatalogueItem {
      padding: 12px 24px;
      display: block;
    }
  }
</style>
