<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator'

  import CInput from '@/components/form-controls/input/Input.vue'
  import CButton from '@/components/form-controls/button/Button.vue'

  const config = {
    name: 'v-login',
    components: {
      CInput,
      CButton
    }
  }

  @Component(config)
  export default class VLogin extends Vue {

    onFormSubmit () {
      this.$router.push({ name: 'home' })
    }
  }
</script>

<template>
  <div class="v-Login">

    <div class="v-Login__Logo">
      <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367.99 58.2"><title>logo</title><path d="M246.43,320.23l-22.82,6.55,22.82,6.62v13.9L205.6,333V320.52l40.83-14.26Z" transform="translate(-205.6 -293.87)"/><path d="M285.17,345.65a15.6,15.6,0,0,1-6.49,1.36c-3.88,0-6.66-1-8.31-2.91a11.77,11.77,0,0,1-2.49-7.89,33.33,33.33,0,0,1,.8-6.69l4.68-22.18h14.4l-4.47,21.1a17.47,17.47,0,0,0-.43,3.45,3,3,0,0,0,3.39,3.6,6,6,0,0,0,4.21-1.65,10.18,10.18,0,0,0,2.55-5.4l4.47-21.1h14.4l-8.21,38.74h-14.4l.94-4.32A13.63,13.63,0,0,1,285.17,345.65Z" transform="translate(-205.6 -293.87)"/><path d="M352.31,294.52a20.84,20.84,0,0,1,6.76,2.23A11.62,11.62,0,0,1,363.5,301a12.9,12.9,0,0,1,1.59,6.7,21.37,21.37,0,0,1-2.2,10.15,17.52,17.52,0,0,1-6.05,6.59,26.42,26.42,0,0,1-9,3.56,53.38,53.38,0,0,1-11,1.08h-5l-3.6,17H313.17l11.09-52.21h19.37A53.73,53.73,0,0,1,352.31,294.52Zm-11.42,22.39a15.24,15.24,0,0,0,3-.28,7.87,7.87,0,0,0,2.59-1,5.55,5.55,0,0,0,1.87-1.95,5.85,5.85,0,0,0,.72-3,4.08,4.08,0,0,0-1.51-3.42A6.88,6.88,0,0,0,343.2,306h-6.48l-2.31,10.87Z" transform="translate(-205.6 -293.87)"/><path d="M363.5,346.08l11.09-52.21H389L377.9,346.08Z" transform="translate(-205.6 -293.87)"/><path d="M416.49,319.51V319a3.13,3.13,0,0,0-1.73-3.09,8.68,8.68,0,0,0-4-.87,8,8,0,0,0-4.6,1.26,6.36,6.36,0,0,0-2.53,4H391.29A15.55,15.55,0,0,1,393.2,315a15.14,15.14,0,0,1,4.07-4.57,21.18,21.18,0,0,1,6.3-3.21A27.35,27.35,0,0,1,412.1,306a34.42,34.42,0,0,1,6.95.68,16.6,16.6,0,0,1,5.69,2.27,11.44,11.44,0,0,1,3.81,4.18,13.12,13.12,0,0,1,1.41,6.34,23.28,23.28,0,0,1-.65,5.18l-1.23,5.9c-.24,1.16-.5,2.42-.79,3.78s-.55,2.75-.79,4.14-.46,2.75-.65,4.07-.31,2.51-.36,3.57H412.24l1.08-5a13.87,13.87,0,0,1-5.76,4.61,19.29,19.29,0,0,1-7.41,1.36,15,15,0,0,1-5.15-.82,11.2,11.2,0,0,1-3.85-2.31,10.25,10.25,0,0,1-3.32-7.67q0-6.56,6.81-10.11t21.56-5l.22-1.08A2,2,0,0,0,416.49,319.51Zm-7.34,9.79a18.92,18.92,0,0,0-3.71,1.15,4.45,4.45,0,0,0-2,1.55,3.75,3.75,0,0,0-.58,2.05,3.31,3.31,0,0,0,.9,2.38,3.71,3.71,0,0,0,2.77.93,10.3,10.3,0,0,0,2.63-.32,5.58,5.58,0,0,0,2.27-1.19,8.15,8.15,0,0,0,1.8-2.3,14.3,14.3,0,0,0,1.3-3.67l.29-1.44A52.67,52.67,0,0,0,409.15,329.3Z" transform="translate(-205.6 -293.87)"/><path d="M454.87,311.73a13,13,0,0,1,5.29-3.89,17.34,17.34,0,0,1,6.73-1.37q5.91,0,8.43,3a11.88,11.88,0,0,1,2.52,8A32.08,32.08,0,0,1,477,324l-4.68,22.11H458l4.47-21a15.47,15.47,0,0,0,.43-3.31,4.21,4.21,0,0,0-.94-3.13,3.56,3.56,0,0,0-2.59-.9,6.45,6.45,0,0,0-4.5,1.83,10.27,10.27,0,0,0-2.77,5.51l-4.47,21h-14.4l8.21-38.74h14.4Z" transform="translate(-205.6 -293.87)"/><path d="M515.78,299.87h15l-21,52.21h-15Z" transform="translate(-205.6 -293.87)"/><path d="M532.77,347.3V333.4l22.82-6.62-22.82-6.55v-14l40.83,14.26V333Z" transform="translate(-205.6 -293.87)"/></svg>
    </div>

    <div class="v-Login__Content">
      <form class="v-Login__Form" @submit.prevent="onFormSubmit">
        <div class="v-Login__FormField">
          <c-input placeholder="john.doe@imie.fr"
                   v-validate="'required|email'"
                   :error="errors.first('email')"
                   name="email"
                   type="email"
                   light
                   transparent>
            Mail
          </c-input>
        </div>
        <div class="v-Login__FormField">
          <c-input placeholder="********"
                   v-validate="'required|min:6|max:16'"
                   :error="errors.first('password')"
                   name="password"
                   type="password"
                   light
                   transparent>
            Mot de passe
          </c-input>
        </div>
        <div class="v-Login__FormField">
          <button :disabled="!formFieldAreValid" class="v-Login__FormSubmitBtn">Connexion</button>
        </div>
      </form>
      <div class="v-Login__Footer">
        <router-link :to="{ name: 'password-forgot' }">Mot de passe oublié ?</router-link>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  .v-Login {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .v-Login__Content {
      height: 100%;
      background: rgba(#4E54C8, 1);
      background: linear-gradient(135deg,rgba(78,84,200,1),rgba(143,148,251,1));
      color: white;
      display: flex;
      flex-direction: column;

    }

    .v-Login__Logo {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 999;
      padding-top: 48px;

      svg {
      width: 144px;
      height: auto;
      fill: white;
      margin: 0 auto;
      display: block;
      }
    }

    .v-Login__Form {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 62px 24px 24px 24px;
    }

    .v-Login__FormField {
      width: 100%;
    }

    .v-Login__FormField + .v-Login__FormField {
      margin-top: 36px;
    }

    .v-Login__Footer {
      color: #fff;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 24px 24px 0;

      a { color: inherit; text-decoration: none; }
    }

    .v-Login__FormSubmitBtn {
      border-radius: 8px;
      border: 0;
      background: #1b1b1b;
      box-shadow: 0 0 12px rgba(black, 0.25);
      display: block;
      width: 100%;
      color: white;
      font: inherit;
      padding: 12px 24px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      transition: opacity 250ms ease;

      &:disabled {
        opacity: 0.25;
      }
    }

  }
</style>
