<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator'

  import CInput from '@/components/form-controls/input/Input.vue'
  import CButton from '@/components/form-controls/button/Button.vue'

  const config = {
    name: 'v-password-forgot',
    components: {
      CInput,
      CButton
    }
  }

  @Component(config)
  export default class VPasswordForgot extends Vue {}
</script>

<template>
  <div class="v-PasswordForgot">
    <div class="v-PasswordForgot__Content">
      <div class="v-PasswordForgot__Header">
        <div class="v-PasswordForgot__HeaderItem">
          <router-link class="v-PasswordForgot__RoundedIco" :to="{ name: 'login' }">
            <svg>
              <use xlink:href="/img/icons/icons-sprite.svg#pointing-left" />
            </svg>
          </router-link>
        </div>
        <div class="v-PasswordForgot__HeaderItem --Fill">Mot de passe oublié ?</div>
        <div class="v-PasswordForgot__HeaderItem">

        </div>
      </div>
      <form class="v-PasswordForgot__Form" @submit.prevent>
        <div class="v-PasswordForgot__FormField">
          <c-input placeholder="john.doe@imie.fr"
                   v-validate="'required|email'"
                   :error="errors.first('email')"
                   name="email"
                   type="email">
            Mail
          </c-input>
          <div style="margin: 16px 0 0 0; font-size: 12px; color: #aaa; line-height: 1.25">
            Afin de réinitialiser votre mot de passe nous allons vous envoyer un mail.
          </div>
        </div>
        <div class="v-PasswordForgot__FormField">
          <button :disabled="!formFieldAreValid" class="v-PasswordForgot__FormSubmitBtn">Réinitialiser</button>
        </div>
      </form>
    </div>
  </div>
</template>

<style lang="scss">
  .v-PasswordForgot {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: white;
    z-index: 999;
    box-shadow: 0 0 12px rgba(black, 0.25);

    .v-PasswordForgot__RoundedIco {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      border: 1px solid #E5E5E5;
      color: #767676;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-size: 16px;
      text-decoration: none;

      svg {
        width: 18px;
        height: 18px;
        fill: #767676;
        margin-left: - 3px;
      }
    }

    .v-PasswordForgot__Header {
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;

      .v-PasswordForgot__HeaderItem {
        &:first-child {
          padding: 0 12px 0 24px;
        }
        &:last-child {
          padding: 0 24px 0 12px;
        }
      }

      .v-PasswordForgot__HeaderItem {
        padding: 0 12px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        min-width: 72px;
        &.--Fill {
          flex: 1
        }
      }
    }

    .v-PasswordForgot__Content {
      height: 100%;
      display: flex;
      flex-direction: column;

    }
    .v-PasswordForgot__Form {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 24px 48px 24px;
    }

    .v-PasswordForgot__FormField {
      width: 100%;
    }

    .v-PasswordForgot__FormField + .v-PasswordForgot__FormField {
      margin-top: 36px;
    }

    .v-PasswordForgot__FormSubmitBtn {
      border-radius: 8px;
      border: 0;
      background: rgba(#4E54C8, 0.75);
      background: linear-gradient(135deg, rgba(#4E54C8, 1), rgba(#8F94FB, 1));
      box-shadow: 0 0 12px rgba(black, 0.25);
      display: block;
      width: 100%;
      color: white;
      font: inherit;
      padding: 12px 24px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      transition: opacity 250ms ease;

      &:disabled {
        opacity: 0.25;
      }

    }

  }
</style>
