<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator'

  import CInput from '@/components/form-controls/input/Input.vue'
  import CButton from '@/components/form-controls/button/Button.vue'

  const config = {
    name: 'v-password-reset',
    components: {
      CInput,
      CButton
    }
  }

  @Component(config)
  export default class VPasswordReset extends Vue {}
</script>

<template>
  <div class="v-PasswordReset">
    <div class="v-PasswordReset__Content">
      <div class="v-PasswordReset__Header">
        <div class="v-PasswordReset__HeaderItem">
          <router-link class="v-PasswordReset__RoundedIco" :to="{ name: 'login' }">
            <svg>
              <use xlink:href="/img/icons/icons-sprite.svg#pointing-left" />
            </svg>
          </router-link>
        </div>
        <div class="v-PasswordReset__HeaderItem --Fill">Réinitialiser le mot de passe</div>
        <div class="v-PasswordReset__HeaderItem">

        </div>
      </div>
      <form class="v-PasswordReset__Form" @submit.prevent>
        <div class="v-PasswordReset__FormField">
          <c-input placeholder="********"
                   ref="password"
                   v-validate="'required|min:6|max:16'"
                   :error="errors.first('password')"
                   name="password"
                   type="password">
            Nouveau mot de passe
          </c-input>
        </div>
        <div class="v-PasswordReset__FormField">
          <c-input placeholder="********"
                   v-validate="'required|confirmed:password'"
                   :error="errors.first('password_confirmation')"
                   name="password_confirmation"
                   type="password">
            Confirmer le nouveau mot de passe
          </c-input>
        </div>
        <div class="v-PasswordReset__FormField">
          <button :disabled="!formFieldAreValid" class="v-PasswordReset__FormSubmitBtn">Modifier le mot de passe</button>
        </div>
      </form>
    </div>
  </div>
</template>

<style lang="scss">
  .v-PasswordReset {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: white;
    z-index: 999;
    box-shadow: 0 0 12px rgba(black, 0.25);

    .v-PasswordReset__RoundedIco {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      border: 1px solid #E5E5E5;
      color: #767676;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-size: 16px;
      text-decoration: none;
      svg {
        width: 18px;
        height: 18px;
        fill: #767676;
        margin-left: - 3px;
      }
    }

    .v-PasswordReset__Header {
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;

      .v-PasswordReset__HeaderItem {
        &:first-child {
          padding: 0 12px 0 24px;
        }
        &:last-child {
          padding: 0 24px 0 12px;
        }
      }

      .v-PasswordReset__HeaderItem {
        padding: 0 12px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        min-width: 72px;
        &.--Fill {
          flex: 1
        }
      }
    }

    .v-PasswordReset__Content {
      height: 100%;
      display: flex;
      flex-direction: column;

    }
    .v-PasswordReset__Form {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 24px 48px 24px;
    }

    .v-PasswordReset__FormField {
      width: 100%;
    }

    .v-PasswordReset__FormField + .v-PasswordReset__FormField {
      margin-top: 36px;
    }

    .v-PasswordReset__FormSubmitBtn {
      border-radius: 8px;
      border: 0;
      background: rgba(#4E54C8, 0.75);
      background: linear-gradient(135deg, rgba(#4E54C8, 1), rgba(#8F94FB, 1));
      box-shadow: 0 0 12px rgba(black, 0.25);
      display: block;
      width: 100%;
      color: white;
      font: inherit;
      padding: 12px 24px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      transition: opacity 250ms ease;

      &:disabled {
        opacity: 0.25;
      }
    }

  }
</style>
