<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import * as axios from 'axios'
import moment from 'moment';

import CInput from '@/components/form-controls/input/Input.vue'
import CButton from '@/components/form-controls/button/Button.vue'
import CTextarea from '@/components/form-controls/textarea/Textarea.vue'

const config = {
  name: 'v-single-item',
  components: {
    CInput,
    CButton,
    CTextarea
  }
}

@Component(config)
export default class VSingleItem extends Vue {
  supply: object | null = null
  messageContent: string = ''
  bookingDate = {startTime: '', startDate: '', endTime: '', endDate: ''}
  async activated () {
    const url = 'http://localhost:3000/supply/'
    this.supply = await axios.default.get(url + this.$route.params.uuid).then((response) => {
      return response.data
    })
  }

  get supplyItem () {
    if (this.supply) {
      return this.supply
    }
  }

  needBook (test: string) {
    const url = 'http://localhost:3000/book'
    const data = {
      'start': moment(this.bookingDate.startDate + ' ' + this.bookingDate.startTime, 'YYYY-MM-DD HH:mm').format('X'),
      'end': moment(this.bookingDate.endDate + ' ' + this.bookingDate.endTime, 'YYYY-MM-DD HH:mm').format('X'),
      'needAccept': true,
      'User': '5cd18e0ca126275709beff38',
      'Supply': this.$route.params.uuid,
      'MessageContent': this.messageContent
    }

    axios.default.post(url, data).then((response) => {
      return response.data
    })
  }
}
</script>

<template>
  <div class="v-SingleItem">
    <div class="v-SingleItem__Header">
      <div class="v-SingleItem__HeaderItem">
        <router-link class="v-SingleItem__RoundedIco" :to="{ name: 'home' }">
          <svg>
            <use xlink:href="/img/icons/icons-sprite.svg#pointing-left" />
          </svg>
        </router-link>
      </div>
      <div class="v-SingleItem__HeaderItem --Fill"></div>
      <div class="v-SingleItem__HeaderItem"></div>
    </div>
    <div class="v-SingleItem__Content">
      <div class="v-SingleItem__ContentHeader">
        <h2 class="v-SingleItem__Title" v-if="supplyItem != null">{{supplyItem.SupplyType.name}}</h2>
        <div class="v-SingleItem__Label" v-if="supplyItem != null">{{supplyItem.label}}</div>
      </div>
      <div class="v-SingleItem__ContentDescription">
        <p v-if="supplyItem != null">{{supplyItem.description}}</p>
      </div>
      <div class="v-SingleItem__Form">
        <div class="v-SingleItem__FormItem">
          <div class="v-SingleItem__FormItemTitle">Réserver de</div>
          <div class="v-SingleItem__FormItemContent">
            <div style="width: 33.3333%; padding: 0 12px">
              <c-input type="time" v-model="bookingDate.startTime"/>
            </div>
            <div style="width: 66.66666%; padding: 0 12px">
              <c-input type="date" v-model="bookingDate.startDate"/>
            </div>
          </div>
        </div>
        <div class="v-SingleItem__FormItem">
          <div class="v-SingleItem__FormItemTitle">Jusqu'à</div>
          <div class="v-SingleItem__FormItemContent">
            <div style="width: 33.3333%; padding: 0 12px">
              <c-input type="time" v-model="bookingDate.endTime"/>
            </div>
            <div style="width: 66.66666%; padding: 0 12px">
              <c-input type="date" v-model="bookingDate.endDate"/>
            </div>
          </div>
        </div>
        <div class="v-SingleItem__FormItem">
          <div class="v-SingleItem__FormItemTitle">Pourquoi emprunter ce produit ?</div>
          <div class="v-SingleItem__FormItemContent" style="margin: 0">
            <c-textarea placeholder="Expliquer la raison de cet emprunt…" v-model="messageContent" rows="8" style="width: 100%;"></c-textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="v-SingleItem__Footer">
      <button class="v-SingleItem__FormSubmitBtn" @click.prevent="needBook('name')">Demander une réservation</button>
    </div>
  </div>
</template>

<style lang="scss">
  .v-SingleItem {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: white;
    z-index: 999;
    box-shadow: 0 0 12px rgba(black, 0.25);

    .v-SingleItem__Footer {
      position: fixed;
      bottom: 12px;
      right: 12px;
      left: 12px;
      z-index: 999;
    }

    .v-SingleItem__FormSubmitBtn {
      border-radius: 8px;
      border: 0;
      background: rgba(#4E54C8, 0.75);
      background: linear-gradient(135deg, rgba(#4E54C8, 1), rgba(#8F94FB, 1));
      box-shadow: 0 0 12px rgba(black, 0.25);
      display: block;
      width: 100%;
      color: white;
      font: inherit;
      padding: 12px 24px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }

    .v-SingleItem__RoundedIco {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      border: 1px solid #E5E5E5;
      color: #767676;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-size: 16px;
      text-decoration: none;

      svg {
        width: 18px;
        height: 18px;
        fill: #767676;
        margin-left: - 3px;
      }
    }

    .v-SingleItem__Header {
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;

      .v-SingleItem__HeaderItem {
        &:first-child {
          padding: 0 12px 0 24px;
        }
        &:last-child {
          padding: 0 24px 0 12px;
        }
      }

      .v-SingleItem__HeaderItem {
        padding: 0 12px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        min-width: 72px;
        &.--Fill {
          flex: 1
        }
      }
    }

    .v-SingleItem__Content {
      display: flex;
      flex-direction: column;
      padding-top: 12px;
      padding-bottom: 32px;
    }

    .v-SingleItem__ContentHeader {
      padding: 0 24px 24px;
      .v-SingleItem__Title {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.25;
      }

      .v-SingleItem__Label {
        font-size: 14px;
        font-weight: bold;
        color: #767676;
      }
    }

    .v-SingleItem__ContentDescription {
      padding: 0 24px;
      color: #313131;
      font-size: 14px;
    }

    .v-SingleItem__Form {
      padding: 36px 24px 48px 24px;
    }

    .v-SingleItem__FormItem + .v-SingleItem__FormItem {
      margin-top: 36px;
    }
    .v-SingleItem__FormItem {
      width: 100%;

      .v-SingleItem__FormItemTitle {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 8px;
      }

      .v-SingleItem__FormItemContent {
        display: flex;
        margin: 0 -12px;
      }
    }
  }
</style>
