<script lang="ts">
  import { Vue, Component, Watch } from 'vue-property-decorator'
  import { Action, Getter } from 'vuex-class'
  import { Route } from 'vue-router'

  const config = {
    name: 'l-default-topbar'
  }

  @Component(config)
  export default class LDefaultTopbar extends Vue {

  }
</script>

<template>
  <div class="l-Default__Topbar">
  </div>
</template>

<style lang="scss">


</style>
