<script lang="ts">
  import { Vue, Component, Watch } from 'vue-property-decorator'
  import { Action, Getter } from 'vuex-class'
  import { Route } from 'vue-router'

  import LDefaultTopbar from './DefaultTopbar.vue'
  import LDefaultContent from './DefaultContent.vue'

  const config = {
    name: 'l-default',
    components: {
      LDefaultTopbar,
      LDefaultContent
    }
  }

  @Component(config)
  export default class LDefault extends Vue {

    routerTransitionDirection = 'is-AnimatingToNext'

    @Watch ('$route')
    onRouteChange (to: Route, from: Route) {
      this.defineRouterTransitionDirection(to, from)
    }

    defineRouterTransitionDirection (to: Route, from: Route) {
      const toOrder = to.meta.order
      const fromOrder = from.meta.order
      if (to.name === from.name) {
        this.routerTransitionDirection = 'is-AnimatingToPrev'
      } else {
        this.routerTransitionDirection = fromOrder < toOrder ?
          'is-AnimatingToPrev' :
          'is-AnimatingToNext'
      }
    }

  }
</script>

<template>
  <div class="l-Default">
    <main class="l-Default__Body">
      <l-default-topbar />
      <l-default-content>
        <transition :name="routerTransitionDirection">
          <keep-alive include="v-home,v-single-item">
            <slot />
          </keep-alive>
        </transition>
      </l-default-content>
    </main>
  </div>
</template>

<style lang="scss">
  .l-Default {
    height: 100%;

    .l-Default__Body {
      height: 100%;
    }

    .l-Default__Content {
      display: flex;
      flex-direction: row;
      width: 200%;
      flex: 1;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

      > *,
      > [class^="v-"],
      > [class*="v-"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;

        &.is-AnimatingToNext-enter-active,
        &.is-AnimatingToNext-leave-active,
        &.is-AnimatingToPrev-enter-active,
        &.is-AnimatingToPrev-leave-active  {
          transition: transform 320ms ease;
        }

        &.is-AnimatingToNext-leave-active,
        &.is-AnimatingToPrev-enter,
        &.is-AnimatingToNext-leave-active,
        &.is-AnimatingToNext-leave-active {
          transform: translate3d(100%,0,0);
          transition: transform 480ms ease;
        }

        &.is-AnimatingToNext-enter,
        &.is-AnimatingToPrev-leave-active,
        &.is-AnimatingToNext-enter,
        &.is-AnimatingToPrev-leave-active,
        &.is-AnimatingToNext-enter,
        &.is-AnimatingToPrev-leave-active{
          transition: transform 480ms ease;
          transform:translate3d(-100%,0,0);
        }
      }

    }
  }

</style>
