<script lang="ts">
  import { Vue, Component, Prop, Watch, Inject } from 'vue-property-decorator'

  const config = {
    name: 'c-input'
  }

  @Component(config)
  export default class CInput extends Vue {

    @Prop({ type: String, default: 'text' }) type!: string
    @Prop({ type: String, default: '' }) placeholder!: string
    @Prop({ type: Boolean, default: false }) autofocus!: boolean
    @Prop({ type: Boolean, default: false }) transparent!: boolean
    @Prop({ type: Boolean, default: false }) light!: boolean
    @Prop({ type: Boolean, default: false }) dark!: boolean
    @Prop({ type: String, default: null }) error!: string | null

    @Prop({ type: Boolean }) required!: boolean
    @Prop({ type: Boolean }) disabled!: boolean
    @Prop({ type: String }) name!: string
    @Prop() value!: any
    @Prop() nativeValue!: any

    newValue: any = null

    $_veeValidate: any = {
      value () {
        return this.$refs.input.value
      }
    }

    get computedValue () {
      return this.newValue
    }

    set computedValue (val: any) {
      this.newValue = val
      this.$emit('input', val)
    }

    @Watch('value')
    onValueChange (val: any) {
      this.newValue = val
    }

    get CSSClasses () {
      return {
        '--Light': this.light,
        '--Dark': this.dark,
        '--Transparent': this.transparent
      }
    }
  }
</script>

<template>
  <label class="c-Input" :class="CSSClasses">
    <span class="c-Input__Label">
      <slot/>
    </span>
    <input ref="input"
           :name="name"
           :type="type"
           :value="nativeValue"
           :disabled="disabled"
           :required="required"
           :placeholder="placeholder"
           :autofocus="autofocus"
           v-model="computedValue"
           class="c-Input__Input" />
    <div class="c-Input__Error">
      <span v-if="error">{{ error }}</span>
    </div>
  </label>
</template>

<style lang="scss">

  .c-Input {

    &.--Light {
      .c-Input__Input {
        border-color: rgba(white, 0.25);
        color: white;
      }
    }

    &.--Transparent {
      .c-Input__Input {
        background: transparent;
      }
    }
  }

  .c-Input {
    display: flex;
    flex-direction: column;

    .c-Input__Input {
      padding: 12px 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      appearance: none;
      border: 0;
      width: 100%;
      font-family: inherit;
      font-size: 14px;
      background-color: transparent;
      border-radius: 8px;
      font-weight: bold;
      border: 1px solid #E5E5E5;
      transition: opacity 250ms ease;

      &:disabled {
        opacity: 0.25;
      }

      &::placeholder {
        font-weight: normal;
        color: inherit;
        opacity: 0.75;
      }

    }

    .c-Input__Error {
      margin-top: 4px;
      font-size: 10px;
      color:#E54545;
      line-height: 1;
      height: 12px;
    }

    .c-Input__Label {
      margin: 0 24px 4px 24px;
      font-size: 14px;
    }

    &.--Small {
      .c-Input__Input {
        height: 36px;
        padding: 8px;
      }
    }

  }
</style>
