<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'

  import CDropdown from './Dropdown.vue'

  @Component({
    name: 'c-dropdown-item'
  })
  export default class CDropdownItem extends Vue {
    @Prop({ default: false, type: Boolean }) active!: boolean
    @Prop({ default: null }) value!: any

    created () {
      if (!this.$parent.$data._isDropdown) {
        this.$destroy()
        throw new Error('You should wrap bDropdownItem on a bDropdown')
      }
    }

    selectItem () {
      const parent = this.$parent as CDropdown
      parent.selectItem!(this.value)
      this.$emit('click')
    }

    get CSSClasses () {
      return {
        'is-Active': this.active
      }
    }
  }
</script>

<template>
  <div class="c-Dropdown__Item" :class="CSSClasses" @click="selectItem">
    <slot />
  </div>
</template>
