<script lang="ts">
  import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
  import CustomWrapper from '@/components/CustomWrapper.vue'

  @Component({
    name: 'c-dropdown',
    components: { CustomWrapper }
  })
  export default class CDropdown extends Vue {
    @Prop({ default: 'div'}) tag!: string
    @Prop({ default: null }) value!: any

    isOpen: boolean = false
    selected: string = this.value
    _isDropdown: boolean = true // Used internally by DropdownItem

    @Watch('value')
    onValueChange (val: any) {
      this.selected = val
    }

   @Watch('isOpen')
    onDropdownStatutChange (val: boolean) {
        this.$emit('change', val)
    }

    created () {
      if (typeof window !== 'undefined') {
          document.addEventListener('click', this.clickedOutside)
      }
    }

    beforeDestroy () {
      if (typeof window !== 'undefined') {
          document.removeEventListener('click', this.clickedOutside)
      }
    }

    selectItem (value: any) {
      if (this.selected !== value) {
          this.$emit('change', value)
          this.selected = value
      }
      this.$emit('input', value)
      this.isOpen = false
    }

    clickedOutside (event: Event) {
      if (event.target && !this.isInWhiteList(event.target)) this.isOpen = false
    }

    isInWhiteList (el: EventTarget) {
      if (el === this.$refs.content) return true
      if (el === this.$refs.trigger) return true
      // All chidren from dropdown
      if (this.$refs.content !== undefined) {
          const children = this.$refs.content as HTMLElement
          const childrens = children.querySelectorAll('*')
          for (const child of childrens) {
              if (el === child) {
                  return true
              }
          }
      }
      // All children from trigger
      if (this.$refs.trigger !== undefined) {
          const children = this.$refs.trigger as HTMLElement
          const childrens = children.querySelectorAll('*')
          for (const child of childrens) {
              if (el === child) {
                  return true
              }
          }
      }
      return false
    }

  }
</script>

<template>
  <custom-wrapper class="c-Dropdown" :tag="tag">
    <div @click="isOpen = !isOpen" ref="trigger">
        <slot name="trigger" />
    </div>
    <div class="c-Dropdown__Content" v-show="isOpen" ref="content">
        <slot />
    </div>
  </custom-wrapper>
</template>

<style lang="scss">
  .c-Dropdown {
      position: relative;

      .c-Dropdown__Content {
        background: white;
        border-radius: 4px;
        box-shadow: 0 0 12px rgba(black, 0.25);
        width: 50vw;
        position: absolute;
        right: 0;
        margin: 4px 0;
        z-index: 9999;
      }

      .c-Dropdown__Item {
        padding: 6px 12px;
        line-height: 1;

        &:first-child  {
          padding: 12px 12px 6px 12px;
        }

        &:last-child  {
          padding: 6px 12px 12px 12px;
        }


        &.is-Active {
          font-weight: bold;
        }

      }

  }
</style>
