<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator'
  import CustomWrapper from '@/components/CustomWrapper.vue'

  @Component({
    name: 'c-carousel',
    components: { CustomWrapper }
  })
  export default class CCarousel extends Vue {
    @Prop({ default: 'div'}) tag!: string
    @Prop({ default: 0 }) offset!: number

    get rootInlineStyles () {
      return {
        padding: this.offset ? `0 ${this.offset / 2}px` : null
      }
    }

  }
</script>

<template>
  <custom-wrapper class="c-Carousel" :tag="tag" :style="rootInlineStyles">
    <slot />
  </custom-wrapper>
</template>

<style lang="scss">
  .c-Carousel {
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scroll-snap-type: x mandatory;
    font-size: 0;

    &::-webkit-scrollbar { display: none }

    .c-Carousel__Item {
      display: inline-block;
      scroll-snap-align: center;
      white-space: normal;
      vertical-align: top;
    }

  }
</style>
